<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ledger</title>
  <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/ledger/personal">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/medical">Medical</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/documents">Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/financial">Financial</a>
    </li>
  </ul>
  <br>
<!--display list of contacts created with options to edit, delete, and add new contact-->
  <form th:action="@{/ledger/contacts}" th:method="post" th:object="${contacts}">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" th:field="*{lastName}" class="form-control" id="lastName">
    </div>
    <div class="mb-3">
      <label for="relationship" class="form-label">Relationship</label>
      <input type="text" th:field="*{relationship}" class="form-control" id="relationship">
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="text" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" th:field="*{phoneNumber}" class="form-control" id="phoneNumber">
      <small>Format: 123-456-7890</small>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" th:field="*{email}" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" th:field="*{primaryAddress}" class="form-control" id="address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>