<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ledger</title>
  <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/ledger/personal">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/medical">Medical</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/documents">Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/financial">Financial</a>
    </li>
  </ul>
</div>
</body>
</html>