<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" name="fileStackAPI" th:content="${fileStackAPI}">
  <title>Documents</title>
  <link rel="stylesheet" th:href="@{/css/documents.css}">
  <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/ledger/personal">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/medical">Medical</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/contacts">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/financial">Financial</a>
    </li>
  </ul>
  <br>
  <h1 >Upload Your Important Documents here</h1>
  <h5>You can upload (image files, pdf files, video files and text files) </h5>

  <div class="documents">

    <form th:action="@{/ledger/documents}" th:method="post" th:object="${documents}">

      <label for="title" th:field="*{title}">Title</label>
      <input id="title" name="title" type="text" placeholder="type of document you wish to upload">

      <div class="form-group">
        <label for="uploadDoc" >
          <input id="uploadDoc" name="document_upload" value="replaceMe" th:field="*{document_upload}" type="hidden">
        </label>
         <div id="buttonUpload" onclick="uploadDoc()" class="form-control-file btn btn3">Upload documents</div>
      </div>
      <br>
      <input type="submit" value="Submit request">
    </form>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<!--<script th:src="@{../../js/documents.js}"></script>-->
  <script th:inline="javascript">
    /*<![CDATA[*/

    window.addEventListener('DOMContentLoaded', function () {

      const apikey = /*[[${fileStackAPI}]]*/ 'Api Key';
      const client = filestack.init(apikey);

      const options = {
        onUploadDone: (res) => {$("#uploadDoc").val(res.filesUploaded[0].url);
          console.log(res);
        },
        accept: ["image/*",".pdf",".video/*","text/*"],
        uploadConfig: {
          retry: 5,
          timeout: 60000
        },
        transformations: {
          crop: true,
          circle: true,
          rotate: true
        },
      };

      function uploadDoc() {
        client.picker(options).open();
      }
      document.getElementById('buttonUpload').onclick = uploadDoc;

    });
/*]]>*/
  </script>

</body>
</html>