<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Documents</title>
  <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/ledger/personal">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/medical">Medical</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/contacts">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ledger/financial">Financial</a>
    </li>
  </ul>
  <br>
  <h1 >Upload Your Important Documents here</h1>
  <h5>You can upload (image files, pdf files, video files and text files) </h5>

  <div class="documents">
    
    <form th:action="@{/ledger/documents}" th:method="post" th:object="${documents}">

      <label for="title" th:field="*(title)">Title</label>
      <input id="title" type="text" value="type of document you wish to upload">

      <input th:field="*{document_upload}" type="hidden">
      <button id="uploadDoc" onclick="uploadDoc()">upload a file</button>
    </form>
    
  </div>
  
  <input id="stashFilestackURL" name="stashFilestackURL" value="replaceme"
         th:field="*{document_upload}" type="hidden">
  <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px">
    <div id='upload' class="btn btn3" style="width: 200px!important; height: 80px!important; display: flex; align-items: center">Upload Profile Picture</div>
  </div>

  <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

  <script th:inline="javascript">
    /*<![CDATA[*/

    window.addEventListener('DOMContentLoaded', function () {

      const apikey = /*[[${fileStackAPI}]]*/ 'Api Key';
      const client = filestack.init(apikey);

      const options = {
        accept: ["image/*",".pdf",".video/*","text/*"],
        // storeTo: {
        //   location: 'final_ledger_db',
        //   path: 'jdbc:mysql://localhost:3306/final_ledger_db'
        // },
        uploadConfig: {
          retry: 5,
          timeout: 60000
        },
        transformations: {
          crop: true,
          circle: true,
          rotate: true
        },
      };

      function uploadDoc() {
        client.picker(options).open();
      }

      document.getElementById('uploadDoc').onclick = uploadDoc;

    });
/*]]>*/
  </script>


</div>
</body>
</html>