<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ledger</title>
    <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: userNav"></nav>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/ledger/personal">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/medical">Medical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/contacts">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/documents">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Financial</a>
        </li>
    </ul>
    <br>
    <h3>Insurance Policies</h3>
    <hr>
    <div class="container">
        <p>insurance policies displayed here and add button</p>
        <form th:action="@{/ledger/insurancePolicy}" th:method="post" th:object="${insurancePolicy}">
            <div class="mb-3">
                <label for="insuranceCompany" class="form-label">Company</label>
                <input type="text" th:field="*{company}" class="form-control" id="insuranceCompany">
            </div>
            <div class="mb-3">
                <label for="insuranceContact" class="form-label">Contact Info</label>
                <input type="text" th:field="*{contactInfo}" class="form-control" id="insuranceContact">
            </div>
            <div class="mb-3">
                <label for="insuranceValue" class="form-label">Current Value</label>
                <input type="text" th:field="*{currentValue}" class="form-control" id="insuranceValue">
            </div>
            <div class="mb-3">
                <label for="insuranceBeneficiary" class="form-label">Beneficiary</label>
                <input type="text" th:field="*{beneficiary}" class="form-control" id="insuranceBeneficiary">
            </div>
            <button type="submit" class="btn btn-primary" id="insuranceBtn">Submit</button>
        </form>
    </div>
    <br>
    <h3>Financial Investments</h3>
    <hr>
    <div class="container">
        <p>financial investments displayed here</p>
        <form th:action="@{/ledger/financial}" th:method="post" th:object="${finance}">
            <div class="mb-3">
                <label for="investmentCompany" class="form-label">Company</label>
                <input type="text" th:field="*{company}"  class="form-control" id="investmentCompany">
            </div>
            <div class="mb-3">
                <label for="investmentContact" class="form-label">Contact Info</label>
                <input type="text" th:field="*{contact_info}"  class="form-control" id="investmentContact">
            </div>
            <div class="mb-3">
                <label for="investmentValue" class="form-label">Current Value</label>
                <input type="text" th:field="*{current_value}" class="form-control" id="investmentValue">
            </div>
            <div class="mb-3">
                <label for="investmentBeneficiary" class="form-label">Beneficiary</label>
                <input type="text" th:field="*{beneficiary}" class="form-control" id="investmentBeneficiary">
            </div>
            <button type="submit" class="btn btn-primary" id="investmentBtn">Submit</button>
        </form>
    </div>
    <br>
    <h3>Credit Card</h3>
    <hr>
    <div class="container">
        <p>credit cards displayed here</p>
        <form th:action="@{/ledger/creditCard}" th:method="post" th:object="${creditCard}">
            <div class="mb-3">
                <label for="cardType" class="form-label">Type</label>
                <input type="text" th:field="*{type}" class="form-control" id="cardType">
            </div>
            <div class="mb-3">
                <label for="cardIssuer" class="form-label">Issuer</label>
                <input type="text" th:field="*{issuer}" class="form-control" id="cardIssuer">
            </div>
            <button type="submit" class="btn btn-primary" id="creditBtn">Submit</button>
        </form>
    </div>
    <br>
    <h3>Bank Accounts</h3>
    <hr>
    <div class="container">
        <p>bank accounts displayed here</p>
        <form th:action="@{/ledger/bankAccounts}" th:method="post" th:object="${bankAccounts}">
            <div class="mb-3">
                <label for="bankCompany" class="form-label">Company</label>
                <input type="text" th:field="*{company}" class="form-control" id="bankCompany">
            </div>
            <div class="mb-3">
                <label for="bankContact" class="form-label">Contact Info</label>
                <input type="text" th:field="*{contactInfo}" class="form-control" id="bankContact">
            </div>
            <div class="mb-3">
                <label for="bankChecking" class="form-label">Checking Account</label>
                <input type="text" th:field="*{checkingAccount}" class="form-control" id="bankChecking">
            </div>
            <div class="mb-3">
                <label for="bankSavings" class="form-label">Savings Account</label>
                <input type="text" th:field="*{savingAccount}" class="form-control" id="bankSavings">
            </div>
            <button type="submit" class="btn btn-primary" id="bankBtn">Submit</button>
        </form>
    </div>
</div>
</body>
</html>