<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ledger</title>
    <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/ledger/personal">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Medical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/contacts">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/documents">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/financial">Financial</a>
        </li>
    </ul>
    <br>
    <form th:action="@{/ledger/medical}" th:method="post" th:object="${medical}">
        <div class="mb-3">
            <label for="willLocation" class="form-label">Will Location</label>
            <input type="text" th:field="*{willLocation}" class="form-control" id="willLocation">
        </div>
        <div class="mb-3">
            <label for="poaDocLocation" class="form-label">POA Doc Location</label>
            <input type="text" th:field="*{POADocLocation}" class="form-control" id="poaDocLocation">
        </div>
        <div class="mb-3">
            <label for="dnrDocLocation" class="form-label">DNR Doc Location</label>
            <input type="text" th:field="*{DNROrderLocation}" class="form-control" id="dnrDocLocation">
        </div>
        <div class="mb-3">
            <label for="bloodType" class="form=label">Blood Type</label>
            <select name="bloodType" th:field="*{bloodType}"  class="form-select" id="bloodType">
<!--                <option selected>Select blood type</option>-->
                <option th:value="typeA">Type A</option>
                <option th:value="typeB">Type B</option>
                <option th:value="typeAB">Type AB</option>
                <option th:value="typeO">Type O</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="medicalConditions" class="form-label">Medical Conditions</label>
            <input type="text" th:field="*{medicalConditions}" class="form-control" id="medicalConditions">
        </div>
        <div class="mb-3">
            <label for="healthInsurance" class="form-label">Health Insurance</label>
            <input type="text" th:field="*{healthInsuranceName}" class="form-control" id="healthInsurance">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>