<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <title>Ledger</title>
    <link th:replace="partials/navbar :: bootstrap">
    <link rel="stylesheet" th:href="@{/css/ledger.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<nav th:replace="partials/navbar :: userNav"></nav>
<div class="subheader"></div>

<div class="container">
    <br>
    <h1 th:if="${!isGuestUser}">My Final Ledger</h1>
    <h1 th:if="${isGuestUser}"><span th:text="${mainUserName}">username</span>'s Final Ledger</h1>
    <hr>
    <ul th:if="${!isGuestUser}" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/medical">Medical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/contacts">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/documents">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ledger/financial">Financial</a>
        </li>
    </ul>
    <ul th:if="${isGuestUser}" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{|/ledger/${mainUserId}/medical|}">Medical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{|/ledger/${mainUserId}/contacts|}">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{|/ledger/${mainUserId}/documents|}">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{|/ledger/${mainUserId}/financial|}">Financial</a>
        </li>
    </ul>
    <div id="infoView" class="container">
        <br>
        <div class="container">
            <div class="d-flex justify-content-between">
                <h3>Personal</h3>
                <div th:if="${!isGuestUser}">
                    <div th:if="${!existingInfo}" class="d-flex align-items-center">
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#formModal">
                            Enter info
                        </button>
                    </div>
                    <div th:if="${existingInfo}" class="d-flex align-items-center justify-content-end">
                        <button type="button" class="btn btn-sm btn-warning me-2" data-bs-toggle="modal"
                                data-bs-target="#editFormModal">
                            Edit
                        </button>
                        <form th:action="@{|/ledger/personal/${personalInfo.id}/delete|}" method="post"
                              th:object="${personalInfo}">
                            <button type="submit" class="btn btn-sm btn-danger" data-bs-toggle="modal">
                                Reset
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <h5>Legal Name</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getLegalName() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getLegalName() != null}" th:text="${personalInfo.getLegalName()}">Legal
                        Name</p>
                </div>
                <hr>
                <h5>Maiden Name</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getMaidenName() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getMaidenName() != null}" th:text="${personalInfo.getMaidenName()}">Maiden
                        Name</p>
                </div>
                <hr>
                <h5>Primary Address</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getPrimaryAddress() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getPrimaryAddress() != null}"
                       th:text="${personalInfo.getPrimaryAddress()}">Primary Address</p>
                </div>
                <hr>
                <h5>Phone Number</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getPhoneNumber() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getPhoneNumber() != null}" th:text="${personalInfo.getPhoneNumber()}">Phone
                        Number</p>
                </div>
                <hr>
                <h5>Birth Place</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getBirthPlace() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getBirthPlace() != null}" th:text="${personalInfo.getBirthPlace()}">Birth
                        Place</p>
                </div>
                <hr>
                <h5>Marital Status</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getMaritalStatus() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getMaritalStatus() != null}" th:text="${personalInfo.getMaritalStatus()}">
                        Marital Status</p>
                </div>
                <hr>
                <h5>Occupation</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getOccupation() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getOccupation() != null}" th:text="${personalInfo.getOccupation()}">
                        Occupation</p>
                </div>
                <hr>
                <h5>Citizenship</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getCitizenship() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getCitizenship() != null}" th:text="${personalInfo.getCitizenship()}">
                        Citizenship</p>
                </div>
                <hr>
                <h5>Religion</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getReligion() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getReligion() != null}" th:text="${personalInfo.getReligion()}">
                        Religion</p>
                </div>
                <hr>
                <h5>Military Status</h5>
                <p th:if="${!existingInfo}">No info has been added yet</p>
                <div th:if="${existingInfo}">
                    <p th:if="${personalInfo.getMilitaryStatus() == ''}">No info has been added yet</p>
                    <p th:if="${personalInfo.getMilitaryStatus() != null}"
                       th:text="${personalInfo.getMilitaryStatus()}">Military Status</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<div th:if="${!isGuestUser}" class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Personal Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="personalForm" th:action="@{/ledger/personal}" th:method="post"
                      th:object="${personalInfo}">
                    <div class="mb-3">
                        <label for="legalName" class="form-label">Legal Name</label>
                        <input type="text" th:field="*{legalName}" class="form-control" id="legalName">
                    </div>
                    <div class="mb-3">
                        <label for="maidenName" class="form-label">Maiden Name</label>
                        <input type="text" th:field="*{maidenName}" class="form-control" id="maidenName">
                    </div>
                    <div class="mb-3">
                        <label for="primaryAddress" class="form-label">Primary Address</label>
                        <input type="text" th:field="*{primaryAddress}" class="form-control" id="primaryAddress">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                               th:field="*{phoneNumber}" class="form-control" id="phoneNumber">
                        <small>Format: 123-456-7890</small>
                    </div>
                    <div class="mb-3">
                        <label for="birthPlace" class="form-label">Birth Place</label>
                        <input type="text" th:field="*{birthPlace}" class="form-control" id="birthPlace">
                    </div>
                    <div class="mb-3">
                        <label for="maritalStatus" class="form-label">Marital Status</label>
                        <select name="maritalStatus" th:field="*{maritalStatus}" class="form-select" id="maritalStatus">
                            <option disabled th:value="disabled">Select marital status</option>
                            <option th:value="Single">Single</option>
                            <option th:value="Married">Married</option>
                            <option th:value="Divorced">Divorced</option>
                            <option th:value="Widowed">Widowed</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="occupation" class="form-label">Occupation</label>
                        <input type="text" th:field="*{occupation}" class="form-control" id="occupation">
                    </div>
                    <div class="mb-3">
                        <label for="citizenship" class="form-label">Citizenship</label>
                        <select name="citizenship" th:field="*{citizenship}" class="form-select" id="citizenship">
                            <option disabled th:value="disabled">Select citizenship status</option>
                            <option th:value="'US Citizen'">US Citizen</option>
                            <option th:value="'Lawful Permanent Resident'">Lawful Permanent Resident</option>
                            <option th:value="'Temporary Visitor'">Temporary Visitor</option>
                            <option th:value="'Undocumented Immigrant'">Undocumented Immigrant</option>
                            <option th:value="'Do Not Wish To Answer'">Do Not Wish To Answer</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="religion" class="form-label">Religion</label>
                        <input type="text" th:field="*{religion}" class="form-control" id="religion">
                    </div>
                    <div class="mb-3">
                        <label for="militaryStatus" class="form-label">Military Status</label>
                        <select name="militaryStatus" th:field="*{militaryStatus}" class="form-select"
                                id="militaryStatus">
                            <option disabled th:value="disabled">Select military status</option>
                            <option th:value="'Non-Military'">Non-Military</option>
                            <option th:value="'Active Duty'">Active Duty</option>
                            <option th:value="'Honorable Discharge'">Honorable Discharge</option>
                            <option th:value="'General Discharge'">General Discharge</option>
                            <option th:value="'Entry-Level Separation'">Entry-Level Separation</option>
                            <option th:value="'Medical Discharge'">Medical Discharge</option>
                            <option th:value="'Other Than Honorable Discharge'">Other Than Honorable Discharge</option>
                            <option th:value="'Bad Conduct Discharge'">Bad Conduct Discharge</option>
                            <option th:value="'Dishonorable Discharge'">Dishonorable Discharge</option>
                            <option th:value="'Dismissal (Officer Discharge)'">Dismissal (Officer Discharge)</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------------->
<div th:if="${!isGuestUser}" class="modal fade" id="editFormModal" tabindex="-1" aria-labelledby="formModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFormModalLabel">Personal Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editPersonalForm" th:action="@{|/ledger/personal/${personalInfo.id}/edit|}" th:method="post"
                      th:object="${personalInfo}">
                    <div class="mb-3">
                        <label for="legalName" class="form-label">Legal Name</label>
                        <input type="text" name="legalName" th:field="*{legalName}" class="form-control"
                               id="editLegalName">
                    </div>
                    <div class="mb-3">
                        <label for="maidenName" class="form-label">Maiden Name</label>
                        <input type="text" th:field="*{maidenName}" class="form-control" id="editMaidenName">
                    </div>
                    <div class="mb-3">
                        <label for="primaryAddress" class="form-label">Primary Address</label>
                        <input type="text" th:field="*{primaryAddress}" class="form-control" id="editPrimaryAddress">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                               th:field="*{phoneNumber}" class="form-control" id="editPhoneNumber">
                        <small>Format: 123-456-7890</small>
                    </div>
                    <div class="mb-3">
                        <label for="birthPlace" class="form-label">Birth Place</label>
                        <input type="text" th:field="*{birthPlace}" class="form-control" id="editBirthPlace">
                    </div>
                    <div class="mb-3">
                        <label for="maritalStatus" class="form-label">Marital Status</label>
                        <select name="maritalStatus" th:field="*{maritalStatus}" class="form-select"
                                id="editMaritalStatus">
                            <option disabled th:value="disabled">Select marital status</option>
                            <option th:value="Single">Single</option>
                            <option th:value="Married">Married</option>
                            <option th:value="Divorced">Divorced</option>
                            <option th:value="Widowed">Widowed</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="occupation" class="form-label">Occupation</label>
                        <input type="text" th:field="*{occupation}" class="form-control" id="editOccupation">
                    </div>
                    <div class="mb-3">
                        <label for="citizenship" class="form-label">Citizenship</label>
                        <select name="citizenship" th:field="*{citizenship}" class="form-select" id="editCitizenship">
                            <option disabled th:value="disabled">Select citizenship status</option>
                            <option th:value="'US Citizen'">US Citizen</option>
                            <option th:value="'Lawful Permanent Resident'">Lawful Permanent Resident</option>
                            <option th:value="'Temporary Visitor'">Temporary Visitor</option>
                            <option th:value="'Undocumented Immigrant'">Undocumented Immigrant</option>
                            <option th:value="'Do Not Wish To Answer'">Do Not Wish To Answer</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="religion" class="form-label">Religion</label>
                        <input type="text" th:field="*{religion}" class="form-control" id="editReligion">
                    </div>
                    <div class="mb-3">
                        <label for="militaryStatus" class="form-label">Military Status</label>
                        <select name="militaryStatus" th:field="*{militaryStatus}" class="form-select"
                                id="editMilitaryStatus">
                            <option disabled th:value="disabled">Select military status</option>
                            <option th:value="'Non-Military'">Non-Military</option>
                            <option th:value="'Active Duty'">Active Duty</option>
                            <option th:value="'Honorable Discharge'">Honorable Discharge</option>
                            <option th:value="'General Discharge'">General Discharge</option>
                            <option th:value="'Entry-Level Separation'">Entry-Level Separation</option>
                            <option th:value="'Medical Discharge'">Medical Discharge</option>
                            <option th:value="'Other Than Honorable Discharge'">Other Than Honorable Discharge</option>
                            <option th:value="'Bad Conduct Discharge'">Bad Conduct Discharge</option>
                            <option th:value="'Dishonorable Discharge'">Dishonorable Discharge</option>
                            <option th:value="'Dismissal (Officer Discharge)'">Dismissal (Officer Discharge)</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="btn-center">
    <a href="#" class="btn btn-primary"> Back to top</a>
</div>
<br>

    <div th:include="partials/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:src="@{/js/personal.js}"></script>
</body>
</html>