<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Final Ledger Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css"/>
    <title>My Profile</title>
</head>
<body>
<nav th:replace="/partials/navbar :: userNav"></nav>
<br>
<div class="container">
    <div class="row">
        <br>
        <h2>My Profile</h2>
        <hr>
    </div>
    <br>
    <div class="row">
        <div class="col-2 a-left">
            <img class="profile-img rounded-circle mb-3" src="https://www.fillmurray.com/250/250"
                 alt="profile image"><br>
            <h2 class="username" th:text="${user.username}"></h2>
            <h3 th:text="${mainUserMessage}"></h3>
        </div>
        <div class="col-10 a-right">
            <h2>My Connections</h2>

            <div th:if="${trustedUsers != null}">
                <th:block th:each="user : ${trustedUsers}">
                    <a th:href="@{|/ledger/${user.getAdded_user_id().getId()}/personal|}"
                       type="button" class="btn btn-sm btn-primary">
                        View <span th:text="${user.getAdded_user_id().getUsername()}"></span>'s Ledger</a>
                </th:block>
            </div>

        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-2 a-left"></div>
        <div class="col-10 a-right">
            <h2>Add a Connection</h2>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <th:block th:each="user : ${userList}">
                    <form th:method="post" th:action="@{/profile/addcontact}">
                        <input id="contactHidden" name="contactHidden" th:value="${user.getId()}" type="hidden">
                        <button type="submit" class="btn btn-secondary">
                            <span th:text="${user.getUsername()}"></span> <span th:text="'Add to contacts!'"></span>
                        </button>
                    </form>
                </th:block>
            </div>
        </div>
    </div>

<!--    <div class="row">-->
<!--        <div class="col-2 a-left"></div>-->
<!--        <div class="col-10 a-right">-->
<!--            <h2>Search for a Connection</h2>-->
<!--            <form th:object="${foundEmail}" method="post">-->
<!--                <div>-->
<!--                    <label for="email">Search by Email for a Contact: </label>-->
<!--                    <input type="text" id="email" name="email" th:field="*{}"-->
<!--                           th:type="submit" value="Search" >-->
<!--                </div>-->
<!--            </form>-->

<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Contact</th>-->
<!--                    <th>Email</th>-->
<!--                </tr>-->
<!--                <tr th:each="contact : ${contactSearch}">-->
<!--                    <td><span th:text="${contact.getUsername()}" ></span></td>-->
<!--                    <td><span th:text="${contact.getEmail()}" ></span></td>-->
<!--                </tr>-->

<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>