<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Final Ledger Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>My Profile</title>
</head>
<body>
<nav th:replace="partials/navbar :: userNav"></nav>
<nav th:replace="partials/navbar :: userNavSmall"></nav>
<br>
<div class="container">
    <div class="row">
        <br>
        <h2>My Profile</h2>
        <hr>
    </div>
    <br>
    <div class="row">
        <div class="col-4 a-left">
            <img class="circular circular-img mb-3 justify-content-center" th:src="${user.getProfilePicUrl()}"
                 alt="profile image" width="300" height="300"><br>
            <h3 class="username justify-content-center" th:text="${user.username.toUpperCase()}"></h3>
        </div>

<!--        THIS SHOWS ALL THE USERS ADDED AS A CONNECTION       -->
        <div class="col-8 a-right">
            <h2>My Connections</h2>

            <div th:if="${trustedUsers != null}">
                <th:block th:each="user : ${trustedUsers}">
                    <a th:href="@{|/ledger/${user.getAdded_user_id().getId()}/personal|}"
                       type="button" class="btn btn-sm btn-secondary">
                        View <span th:text="${user.getAdded_user_id().getUsername()}"></span>'s Ledger</a>
                </th:block>
            </div>

        </div>
    </div>

    <br><br>
    <!--        THIS WILL SEARCH FOR CONTACTS BY EMAIL ONCE IT IS FINISHED   -->

    <div class="row">
        <div class="col-4 a-left"></div>
        <div class="col-8 a-right">
            <h2>Search for a Connection</h2>

            <div>
                <form th:action="@{/search}" method="get">
                    <label>
                        <input type="text" name="searchedValue" placeholder="search by email">
                    </label>
                    <br>
                    <button type="submit" class="btn btn-secondary">search</button>
                </form>
            </div>

            <!--                SEARCHED USERS BY EMAIL WILL APPEAR HERE         -->
            <div>
                <div th:if="${searchedEmails != null}">
                    <div class="col-md-6" th:each="email : ${searchedEmails}">
                        <form th:method="post" th:action="@{/profile/addcontact}">
                            <input id="contactHidden" name="contactHidden" th:value="${email.getId()}" type="hidden">
                            <button type="submit" class="btn btn-secondary">
                                <span>Add <span th:text="${email.getUsername()}"></span> to contacts!</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="footer">
    <footer class="fixed-bottom" th:include="partials/footer :: footer"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>