<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>
<h1>Register</h1>
<form th:action="@{/register}" th:method="post" th:object="${user}">
    <label for="email">Email</label>
    <input id="email" type="text" th:field="*{email}">
    <label for="username">Username</label>
    <input id="username" type="text" th:field="*{username}">
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}">
    <label for="confirmPass">Confirm Password</label>
    <input id="confirmPass" type="password">
    <label for="accountType">Account Type</label>
    <select name="accountType" id="accountType" th:field="*{isMainUser}">
        <option th:value="0">Basic Account</option>
        <option th:value="1">Full Account</option>
    </select>
    <input value="Register" type="submit">
</form>
</body>
</html>