<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link th:replace="/partials/navbar :: bootstrap">
</head>
<body>
<nav th:replace="/partials/navbar :: visitorNav"></nav>
<br>
<div class="container col-8">
    <h1 class="text-center">Register</h1>
    <div th:if="${showErrorMsg}" class="alert alert-danger text-center" role="alert"><span th:text="${errorMsg}"></span></div>
    <form th:action="@{/register}" method="post" id="registerForm">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" class="form-control" type="text" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" class="form-control" type="text" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" class="form-control" type="password" required>
            <div id="passwordHelp" class="form-text">Your password must:<br>
                <span id="8char">Be at least 8 characters long</span><br>
                <span id="uppercase">Include at least one uppercase letter</span><br>
                <span id="lowercase">Include at least one lowercase letter</span><br>
                <span id="num">Include at least one number</span><br>
                <span id="special">Include at least one special character</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPass" class="form-label">Confirm Password</label>
            <input id="confirmPass" name="confirmPass" class="form-control" type="password" required>
            <div id="confirmPassMsg" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="accountType" class="form-label">Account Type</label>
            <select name="accountType" id="accountType" class="form-select" required>
                <option selected disabled value="">Select account type</option>
                <option value="false">Basic Account</option>
                <option value="true">Full Account</option>
            </select>
        </div>
        <input id="submitBtn" value="Register" type="submit">
    </form>
    <br>
    <hr>
    <p class="text-center">Already have an account? <a href="/login">Log in</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script th:src="@{/js/register.js}"></script>
</body>
</html>