/*first carousel*/
body {
    background-color:#333;
}
div#carousel {
    perspective: 1200px;
    background: #100000;
    padding-top: 10%;
    font-size:0;
    /*margin-bottom: 3rem;*/
    overflow: hidden;
}
figure {
    margin: 0 0 9rem;
}
.subheader {
    width: 100%;
    height: 5px;
    background-color: silver;
}
figure#spinner {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}
figure#spinner img {
    width: 40%; max-width: 425px;
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent;
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg);
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }


div#carousel ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }

base {

    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
}

.typewriter {
    font-weight:  bolder;
    font-size: large;

}
.typewrite {
    color: whitesmoke;
    text-decoration: none;
}
/*about page banner img's*/
.card img {
    height: 300px;
    width:  250px;
    box-shadow: 5px 5px 15px 5px grey;
}
.card-two {
    position: center;
    /*
    box-shadow: 0 0 8px #0a0a0a, 0 0 8px rgba(125, 17, 227, 0.58), 0 0 8px #ae00ff;
    */



}

.card {

    text-align: center;
    /*border: solid purple 4px;*/
}

.card-two {
background-color: antiquewhite;
}
#span-left{
    float: left;
}
#span-right{
    float: right;
}

.header-text{
    background-color: #212121;
    text-align: left;
}
.btn-color {
    background-color: #b3cdd1 !important;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
}
.navbar {
    background-color: #b3cdd1 !important;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);


}
.navbar a {
    color: #BD7979FF;
}
#footer {
    padding: 1.5em;
    text-align: center;
    border: 2px solid black;
    background-color: #b3cdd1 !important;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
}
.title {
    font-family: 'Luxurious Script',cursive;
}
h1.title {
    color: antiquewhite;
text-align: center
}
h2.sec-title {
color: silver;
}
span.wrap {
    color: silver;
    font-size: larger;
}