@media screen and (min-width: 768px){
    #back-top{
        display: none;
    }
}
p {
    margin-bottom: 0.5rem;
}
.card-title{
    color: black;
}

.card-body {
    padding-bottom: 0.5rem;
}
label.form-label,small{
    color: whitesmoke;
}

#infoView {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

hr {
    margin-top: 0;
}

.modal-body {
    background: linear-gradient(to right, #172a43, #1f6570);}
.modal-header {
    background-color: #404d60;
}
h5#formModalLabel {
    color: #fff;
}

button.btn.btn-primary {
    border: solid ghostwhite 2px;
    background-color: #172a43;
}
button.btn-close{
    color: #fff;
}
body {
    background-color: #fff;
}
div#infoView {
    background: linear-gradient(to right, #172a43, #1f6570);
    box-shadow: 0 14px 28px rgb(7 6 9 / 58%), 0 10px 10px rgb(230 229 232);
    margin-bottom: 5%;
    color: #fffef2;
}
/*a.nav-link {
    background-color: #FAEBD7;

}*/
.model-bg {
    background-color: #FFF;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

    color: ghostwhite;
    background-color: #404D60 ;
}

.nav-tabs .nav-link {
    color: #1F6570;
}

.btn  {
    display: inline-block;
}
.btn-center {
    text-align: center;
}
.btn-primary {
    background: linear-gradient(to right, #172a43, #1f6570);
    border: whitesmoke 3px;
}
.btn-secondary {
    color: #fff;
    background-color: #172a43;
}
.btn-close {
background-color: #172a43;
}
.subheader {
    width: 100%;
    height: 5px;
    background-color: silver;
}
.bg-light {
 background-color: #000000 !important;
}


#footer{
    padding: 1.5em;
    text-align: center;
    border: 2px solid black;
    background-color: #b3cdd1 !important;
    background: linear-gradient(to right, #172a43, #1f6570);
    color: #fff;
}

link.active {
    color: ghostwhite;
    background-color: #404d60;
}
/*--- NavBar Styling---*/