

    /*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
    @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');*/
* {
    box-sizing: border-box;
}

body {

    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    /*  cursor: grabbing;*/
    background-color: #fff !important;

}
.S9gUrf-YoZ4jf, .S9gUrf-YoZ4jf * {
    z-index: 1000;
}
nav {
    display: flex;
    flex-direction: row;

    /*
    color: #7d11e3;
    */
    /* border: #212121 solid 3px;*/
    width: 100%;
    height: 90px;
    text-align: center;
    position: center;
    justify-content: space-between;
    font-weight: bolder;
}
.nav-logo {
    text-align: left;
    padding-left: 10px;
}
/*Left Side Text*/
h1 {
    font-weight: bold;
    margin: auto;
    text-align: start;
}
h1:hover {
    background: linear-gradient(to right, #8a898b, #aea5b6);
    transition: ease-out 1s;
}
/*Login*/
.form-header {
    font-family: sans-serif;
    color: whitesmoke;
    /* background-image: linear-gradient(315deg,#1f6570 0%,#172a43 74%); */
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
p:hover {
    font-weight: bolder;
    transition: ease-out .5ms;
}
.btn-login {
    margin: 5px 5px 5px 5px;
    height: 40px;
    background: linear-gradient(to right, #172a43, #1f6570);
    width: 90px;
    color: ghostwhite;
}
span {
    font-size: 12px;
    margin-bottom: 2vw;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.button:hover {
    color: purple;
    transition: ease-out 1s;
}

form {
    /* background-color: #FFFFFF;*/
    background-color: #404d60;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    /*margin: 0 0 0 32%;*/
}

button:not(:disabled) {
    border: solid ghostwhite;
}
input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(7, 6, 9, 0.58), 0 10px 10px rgb(230, 229, 232);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}


.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.overlay {
    background: linear-gradient(to right, #172a43, #1f6570);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 70%;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 28px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}
.overlay-panel.overlay-right {
    position: inherit;
}
.overlay-right {
    right: 0;
}

.social-container {
    margin: 50px 0;
}

.landing-container.h2 {
    margin-left: 23px;
}

.button:active span:nth-child(1)
span:nth-child(2)
span:nth-child(2)
span:nth-child(2) {
    transition: none;
    transition-delay: .5ms;
}

.set-title {
    color: whitesmoke;
    margin-top: 110px;
}
.set {
    color: whitesmoke;
    padding-top: 20px;
    display: flex;
}

.set-img {

}
.img-one {
    margin: 0 0 0 233px;
    height: 200px;
    width: 200px;
}

.set-text-2 {
    color: whitesmoke;
    padding-top: 40px;
    display: flex;
}


/*main*/

.tabs {
    color:whitesmoke;
}
.main-nav a {
    color: white;
    position:center;
}

/*Used For Color of typewrite for ABout Page*/  ✅
/*                                                .typewrite {*/
/*                                                    color: whitesmoke;*/
/*                                                }*/
/*Used For Main age*/
.typewriter {
    font-weight:  bolder;
    font-size: large;
}
/*Keep me, will consolidate*/
/*.navbar {

    background-image: linear-gradient(315deg,#1f6570 0%,#172a43 74%);

}*/
/*.navbar a {
    color: #BD7979FF;
    font-weight: bolder;
}*/

/*.navbar a {
    font-weight: bolder;
    color: #f8f0c6;
}*/
/*
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    font-family: 'Luxurious Script',cursive;
}
a.navbar-brand {
    font-family: 'Luxurious Script',cursive;
}
*/

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #172a43;
}
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}
/*.subheader {
    width: 100%;
    height: 5px;
    background-color: #1f6570;
}*/

/*----*/


/*Temp Register*/
/*.col-8 {
    background: linear-gradient(to right, #8a898b, #aea5b6);
}*/

div#passwordHelp {
    color:  #3e4245;
}
h1.text-center {
    font-family: 'Luxurious Script',cursive;
}



p.text-center {
    color: ghostwhite;
}
div#container {
    margin-top: 40px;
}

input#submitBtn {
    margin-bottom: 10px;
}

.btn-primary {

    background: linear-gradient(to right, #172a43, #1f6570);

    border-width: 3px;
    border-style: initial;
    /*   border-color: #ef0c0c;*/
    border-image: initial;
}
/*.bg-secondary {
    background-color: #172a43;
}*/
button:not(:disabled) {
    border: solid ghostwhite;
}

    .d-flex.justify-content-around.border-top.border-dark.bg-secondary {
        position: fixed;
        bottom: 0;
        width: 100%;
    }