.navbar {

    background-image: linear-gradient(315deg,#1f6570 0%,#172a43 74%);

}
.navbar a {
    font-weight: bolder;
    color: #fffef2;
}
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    font-family: 'Luxurious Script',cursive;
}
a.navbar-brand {
    font-family: 'Luxurious Script',cursive;
}
.subheader {
    width: 100%;
    height: 5px;
    background-color: #1f6570;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}