.col-8 {
    background: linear-gradient(to right, #8a898b, #aea5b6);
}
p.text-center {
    color: ghostwhite;
}
.col-8 {
    background: linear-gradient(to right, #8a898b, #aea5b6);
}

div#passwordHelp {
    color:  #3e4245;
}