<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--<link rel="stylesheet" href=".././static/css/styles.css">-->
    <link rel="stylesheet" href="../js/about.js">  <!--Link Ineffective🚨 folder choice? Using inline for moment-->
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="/partials/navbar :: bootstrap">
    <link rel="stylesheet" href="../static/css/about.css">

</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>
<h1 style="display: flex; flex-direction: row">Final Ledger</h1>
<br>
<hr>

<!--<base  style="box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/wanaka-tree.jpg">-->
<div id="carousel">
    <figure id="spinner">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MUV5L150-39afa35a0e97-512" alt>
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MN8EJRGW-36a7ee367d5a-512" alt>
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MS185YTX-bb22efb3fca3-512" alt>
        <img src="https://ca.slack-edge.com/T029BRGN0-U02N7JEAQDP-e4013fbae92e-512" alt>
        <!--<img src="morekai.jpg" alt>
        <img src="milky-blue-lagoon.jpg" alt>
        <img src="lake-tekapo.jpg" alt>
        <img src="milford-sound.jpg" alt>-->
    </figure>
</div>
<span class="ss-icon" onclick="galleryspin('-')" id="span-left">&lt;</span>
<span class="ss-icon" onclick="galleryspin('')" id="span-right">&gt;</span>



<h1>
    <a href="" class="typewrite" data-period="2000" data-type='[ "Hello there,  Im Therman" ]'>
        <span class="wrap"></span>
    </a>
</h1>
<div>
    <!--1-->

    <div class="card">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MN8EJRGW-36a7ee367d5a-512" class="card-img-top profile-img" alt="img">
        <div class="card-body">
            <h5 class="card-title">Therman   </h5>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Im just a guy who likes all aspects of I.T." ]'>
                <span class="wrap"></span>
            </a>
            <br>
            <a href="" class="btn btn-primary">GitHub</a>
        </div>


    </div>
    <h1>
        <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Jack." ]'>
            <span class="wrap"></span>
        </a>
    </h1>

    <div class="card ">
        <div class="card-two">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MS185YTX-bb22efb3fca3-512" class="card-img-top profile-img" alt="img">
        <div class="card-body">
            <h5 class="card-title">Jack(Ranchaya Sambath)</h5>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Im a coder who loves to develop" ]'>
                <span class="wrap"></span>
            </a>
            <br>
            <a href="#" class="btn btn-primary">Github</a>
        </div>
        </div>
        <!--2-->
       <h1> <a href="" class="typewrite" data-period="2000" data-type='[ "My name is Jason" ]'>
            <span class="wrap"></span>
        </a>
        </h1>
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MUV5L150-39afa35a0e97-512" class="card-img-top profile-img" alt="img">
        <div class="card-body">
            <h5 class="card-title">Jason Comstock</h5>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Im a full stack developer" ]'>
                <span class="wrap"></span>
            </a>
            <br>
            <a href="https://github.com/JMComstock" class="btn btn-primary">GitHub</a>
        </div>
        <!--2-->

    </div>
</div>
<button><a href="#top"> Top</a></button>
<script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="#">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

      /*  if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }*/

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };

    var angle = 0;
    function galleryspin(sign) {
        spinner = document.querySelector("#spinner");
        if (!sign) { angle = angle + 45; } else { angle = angle - 45; }
        spinner.setAttribute("style","-webkit-transform: rotateY("+ angle +"deg); -moz-transform: rotateY("+ angle +"deg); transform: rotateY("+ angle +"deg);");
    }
</script>

</body>
</html>