<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--<link rel="stylesheet" href=".././static/css/styles.css">-->
    <link rel="stylesheet" href="../static/js/about.js">  <!--Link Ineffective🚨 folder choice? Using inline for moment-->
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>About</title>
    <link th:replace="partials/navbar :: bootstrap">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
<div th:replace="partials/navbar :: visitorNavSmall">
</div>
<div th:replace="partials/navbar :: visitorNav">
</div>
<div class="subheader"></div>
<br>
<div class="row about-us">
    <div>
        <h2 class="sec-title"><span>A</span>
            <span>B</span>
            <span>O</span>
            <span>U</span>
            <span>T</span>
            <span> </span>
            <span>U</span>
            <span>S</span>
        </h2>
    </div>
</div>
<br>
<hr>
<div id="carousel" class="d-none d-md-block">
    <figure id="spinner">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MUV5L150-39afa35a0e97-512" alt="pic of jason">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MN8EJRGW-36a7ee367d5a-512" alt="pic of therman">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MS185YTX-bb22efb3fca3-512" alt="pic of jack">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02N7JEAQDP-e4013fbae92e-512" alt="pic of kat">
    </figure>
</div>
<span class="ss-icon" onclick="galleryspin('-')" id="span-left">&lt;</span>
<span class="ss-icon" onclick="galleryspin('')" id="span-right">&gt;</span>

<!--Profiles-->

<!--Profile 1-->
    <h1>
<!--        <a href="" class="typewrite" data-period="2000" data-type='[ "Hey There, Im Therman." ]'>-->
        <p class="typewrite" data-period="2000" data-type='[ "Therman Haynes" ]'>
            <span class="wrap"></span>
        </p>
    </h1>

    <div class="card ">
        <div class="card-two">
            <img src="https://ca.slack-edge.com/T029BRGN0-U02MN8EJRGW-36a7ee367d5a-512" class="card-img-top profile-img" alt="img">
            <div class="card-body">
                <h5 class="card-title">Therman Haynes</h5>
<!--                <a href="" class="typewrite" data-period="2000" data-type='[ "Im just a guy who likes all aspects of I.T." ]'>-->
<!--                    <span class="wrap"></span>-->
<!--                </a>-->
                <br>
                <a href="https://github.com/Therman116220" class="btn btn-primary btn-color">Github</a>
                <a href="https://www.linkedin.com/in/therman-haynes-4349b0198/" class="btn btn-primary btn-color">Linkedin</a>
            </div>
        </div>
    </div>

    <!--Profile 2-->

    <h1>
<!--        <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Jack." ]'>-->
        <p class="typewrite" data-period="2000" data-type='[ "Ranchaya Sambath" ]'>
            <span class="wrap"></span>
        </p>
    </h1>

    <div class="card ">
        <div class="card-two">
        <img src="https://ca.slack-edge.com/T029BRGN0-U02MS185YTX-bb22efb3fca3-512" class="card-img-top profile-img" alt="img">
        <div class="card-body">
            <h5 class="card-title">Ranchaya Sambath</h5>
<!--            <a href="" class="typewrite" data-period="2000" data-type='[ "Im a coder who loves to develop" ]'>-->
<!--                <span class="wrap"></span>-->
<!--            </a>-->
            <br>
            <a href="https://github.com/ranchayasambath" class="btn btn-primary btn-color">Github</a>
            <a href="https://www.linkedin.com/in/ranchaya-sambath-1a3928180/" class="btn btn-primary btn-color">Linkedin</a>
        </div>
        </div>

<!--Profile 3-->
        <h1 class="header-text">
<!--            <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im  Jason." ]'>-->
                <p class="typewrite" data-period="2000" data-type='[ "Jason Comstock" ]'>
                <span class="wrap"></span>
            </p>
        </h1>

        <div class="card ">
            <div class="card-two">
                <img src="https://ca.slack-edge.com/T029BRGN0-U02MUV5L150-39afa35a0e97-512" class="card-img-top profile-img" alt="img">
                <div class="card-body">
                    <h5 class="card-title">Jason Comstock</h5>
<!--                    <a href="" class="typewrite" data-period="2000" data-type='[ "A Marine with a passion for Back-end Development, Databases and Cyber-Security" ]'>-->
<!--                        <span class="wrap"></span>-->
<!--                    </a>-->
                    <br>
                    <a href="https://github.com/JMComstock" class="btn btn-primary btn-color">Github</a>
                    <a href="https://www.linkedin.com/in/jasonmcomstock/" class="btn btn-primary btn-color">Linkedin</a>
                </div>
            </div>
        </div>



        <div>
            <h1 class="header-text">
<!--                <a href="" class="typewrite" data-period="2000" data-type='[ "Hello, Im Kat." ]'>-->
                <p class="typewrite" data-period="2000" data-type='[ "Kat Rodriguez" ]'>
                    <span class="wrap"></span>
                </p>
            </h1>

            <div class="card ">
                <div class="card-two">
                    <img src="https://ca.slack-edge.com/T029BRGN0-U02N7JEAQDP-e4013fbae92e-512" class="card-img-top profile-img" alt="img">
                    <div class="card-body">
                        <h5 class="card-title">Kat Rodriguez </h5>
<!--                        <a href="" class="typewrite" data-period="2000" data-type='[ "Im a full stack developer, who is very flexible in my capabilities." ]'>-->
<!--                            <span class="wrap"></span>-->
<!--                        </a>-->
                        <br>
                        <a href="https://github.com/katrodriguez96" class="btn btn-primary btn-color">Github</a>
                        <a href="https://www.linkedin.com/in/kathryn-rodriguez96/" class="btn btn-primary btn-color">Linkedin</a>
                    </div></div>
                </div>
            </div>
    </div>
<div class="row back-top">
    <div>
        <a href="#" class="btn btn-primary"> Back to top</a>
    </div>
</div>
<!--<button><a class="btn-color" href="#top"> Top</a></button>-->
<!--<div class="fixed-bottom" th:include="partials/footer :: footer"></div>-->
<div id="drop">
    <footer th:replace="partials/footer :: footer">
    </footer>
</div>
<script th:src="@{/js/about.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>